body {
  background-color: rgb(231, 227, 235);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  margin-top: 180px;
}
/* Navigation elements */
nav {
  position: fixed;

  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;

  color: white;

  box-shadow: 5px 5px 8px black;

  background-color: rgb(32, 28, 37);
}
/* Note: this will be used on every webpage exactly once */
#main-heading {
  width: 100%;
  top: 0;
  margin: 0;
  padding: 30px;

  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;

  background-color: rgb(32, 28, 37);
}
ul {
  top: 80px;
  margin: 0;
  padding: 0;
  width: 100%;

  list-style-type: none;
  border-top: 2px solid white;

  background-color: black;
}
.nav-links {
  float: left;
  display: block;

  padding: 16px 0px;
  width: 25%;
  text-align: center;

  color: white;
  text-decoration: none;

  border-radius: 10px;
}
.nav-links:hover,
.nav-links:focus {
  color: black;

  background-color: white;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;

  text-align: center;
  color: white;

  box-shadow: 2px 2px 5px black;
  border-radius: 10px;

  background-color: rgb(32, 28, 37);
}
img {
  margin: 10px, 10px;
  width: 100%;
  height: auto;

  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
}
footer {
  text-indent: 40px;
  color: white;

  background-color: rgb(32, 28, 37);
}
footer p {
  font-size: 14px;
}
section {
  padding: 10px;
  margin: 1%;

  box-shadow: 5px 5px 8px;
  border-radius: 10px;

  background-color: white;
}
p {
  margin: 18px;

  font-size: 18px;
  text-indent: 10px;
  line-height: 1.6;
}
.align-side {
  display: flex;
}
form {
  padding: 1%;

  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}
