* {
  line-height: 140%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(231, 227, 235);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  /* margin is large so there is room for the menu at the top */
  margin-top: 180px;
}
/* Navigation elements */
nav {
  /* keeps it on top og the page, not affected by scrolling */
  position: fixed;

  width: 100%;
  /* did you know that there is a margin for elements by default? because i didn't and it was a pain to figure out */
  margin: 0;
  padding: 0;
  top: 0;

  color: white;

  box-shadow: 5px 5px 8px black;

  background-color: rgb(32, 28, 37);
}
/* Note: this will be used on every webpage exactly once */
#main-heading {
  width: 100%;
  top: 0;
  margin: 0;
  padding: 30px;

  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;

  background-color: rgb(32, 28, 37);
}

/* Navigation styling*/
ul {
  /* Adds margins and stretches border of ul across screen */
  top: 80px;
  margin: 0;
  padding: 0;
  width: 100%;
  /* removes all additional default additions off the list (color, underline, etc.) */
  list-style-type: none;
  /* Adds a line between the main heading and the nav elements  */
  border-top: 2px solid white;

  background-color: black;
}
.nav-links {
  /* floats beside each element */
  float: left;
  display: block;

  padding: 16px 0px;
  /* Each element takes up 25% of the screen (100/4 = 25) although this number would change with more pages*/
  width: 25%;
  text-align: center;

  color: white;
  /* removes all additional decoration */
  text-decoration: none;

  /* Rounds border */
  border-radius: 10px;
}
/* Hover = mouse over button, focus = selected or clicked on, gives interactive feel */
.nav-links:hover,
.nav-links:focus {
  color: black;

  background-color: white;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 24px;

  text-align: center;
  color: white;
  /* Box shadow is my new favourite border (2px by 2px with 5px of fading out)*/
  box-shadow: 2px 2px 5px black;
  border-radius: 10px;

  background-color: rgb(32, 28, 37);
}

img {
  margin: 10px, 10px;
  width: 100%;
  height: auto;

  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
}
footer {
  text-indent: 40px;
  color: white;

  background-color: rgb(32, 28, 37);
}
footer p {
  font-size: 14px;
}
section {
  padding: 10px;
  margin: 1%;

  box-shadow: 5px 5px 8px;
  border-radius: 10px;

  background-color: white;
}
p {
  margin: 18px;

  font-size: 18px;
  text-indent: 10px;
}
.align-side {
  /* allows the items to float side by side */
  display: flex;
}
form {
  padding: 1%;

  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
}

.italic {
  font-style: italic;
}
.bold {
  font-weight: bold;
}
